<aside class="container-menu">
    <nav>
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                {{#view view.NavItemView item="library" }}
                    {{#linkTo "library"}}Library{{/linkTo}}
                {{/view}}

                {{#view view.NavItemView item="learning" }}
                    {{#linkTo "learning"}}My Learning{{/linkTo}}
                {{/view}}

                {{#view view.NavItemView item="team" }}
                    {{#linkTo "team"}}My Team{{/linkTo}}
                {{/view}}

                {{#view view.NavItemView item="admin" }}
                    {{#linkTo "admin"}}Admin{{/linkTo}}
                {{/view}}
            </ul>
        </div>
    </nav>
</aside>